<div class="main-container">
  <div class="form-container">
    <%= simple_form_for  [@task_checklist, @task_checklist_item] do |f| %>
    <h5><%= f.input :description %></h5>
   <div class="link-container">
      <div class="link">
        <%= f.submit "Edit" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
