<div class="main-container">
  <form action="" class="form-container"><%= simple_form_for [@task, @component] do |f| %>
    <h5><%= f.input :name %></h5>
    <div class="add-task-container">
      <div class="add-companent">
        <%= f.submit "Add component" %>
      </div>
    </div>
    <% end %>
  </form>
</div>
