<h1><%= @component.name %></h1>
  <% @component.lists.each do |list| %>
    <div class="list-item">
      <div class="check <%= "checked" if list.state %>">
        <%= list.content %>
      </div>
    </div>
  <% end %>

<%= link_to "Add list", new_component_list_path(@component) %>
