<%= render "/shared/bubble_layout", main: @task, second: @sorted %>
<div class="links-cont">
  <div class="edit">
    <%= link_to "âœï¸", edit_task_path(@task) %>
  </div>
  <div class="delete">
    <%= button_to task_path(@task), method: :delete do %>
      ðŸ—‘
    <% end %>
  </div>
</div>
