<h1><%= @task_note.name %></h1>
<div class="main-note">
  <p><%= @task_note.content %></p>
</div>
<div class="edit">
    <%= link_to "âœï¸", edit_task_note_path(@task_note) %>
</div>
<div class="delete">
    <%= button_to task_note_path(@task_note), method: :delete do %>
        ðŸ—‘
    <% end %>
</div>
