<div class="main-tlist-ttl">
  <h1 class="tlist-ttl"><%= @task_note.name %></h1>
  <%= link_to "âœï¸", edit_task_note_path(@task_note) %>
  <%= button_to task_note_path(@task_note), method: :delete do %>
        ðŸ—‘
    <% end %>
</div>
<div class="main-note">
  <p><%= @task_note.content %></p>
</div>
