<h1><%= @task_note.name %></h1>
<%= link_to "Edit", edit_task_note_path(@task_note) %>
<%= button_to task_note_path(@task_note), method: :delete do %>
    delete
<% end %>

<p><%= @task_note.content %></p>
