
<div class="navbar">
  <a href="#back"><i class="fa-solid fa-arrow-left"></i></a>
  <a href="/categories"><i class="fa-solid fa-house"></i></a>
  <a href="#new-form"><i class="fa-solid fa-plus"></i></a>
  <a href="#calendar"><i class="fa-solid fa-calendar-days"></i></a>
  <div class="dropup">
  <% if current_user %>
    <a href="#avatar"><i class="fa-regular fa-user" id="dropup"></i></a>
    <div class="dropup-content">
      <a href="#">Profile</a>
      <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete} %>
    </div>
  <% else %>
    <a href="#avatar"><i class="fa-regular fa-user sign-out" id="dropup"></i></a>
    <div class="dropup-content">
      <%= link_to "Sign in / Sign up", user_session_path %>
    </div>
  <% end %>
  </div>
</div>
