<div class="navbar">
  <button onclick="history.back()">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <a href="/categories"><i class="fa-solid fa-house"></i></a>
  <%= render "/shared/add_button" %>

<!-- Button trigger modal -->
<button type="button" data-bs-toggle="modal" data-bs-target="#calendar">
  <i class="fa-solid fa-calendar-days"></i>
</button>


  <div class="dropup">
    <% if current_user %>
      <a href="#avatar"><i class="fa-regular fa-user" id="dropup"></i></a>
      <div class="dropup-content" style="right: -300px">
        <a href="#">Profile</a>
        <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete} %>
      </div>
    <% else %>
      <a href="#avatar"><i class="fa-regular fa-user red" id="dropup"></i></a>
      <div class="dropup-content">
        <%= link_to "Sign in / Sign up", user_session_path %>
      </div>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="calendar" tabindex="-1" aria-labelledby="calendarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "shared/calendar" %>
      </div>
    </div>
  </div>
</div>
