<h1><%= @category_note.name %></h1>
<div class="main-note">
  <p><%= @category_note.content %></p>
</div>
<div class="edit">
    <%= link_to "âœï¸", edit_category_note_path(@category_note) %>
  </div>
  <div class="delete">
    <%= button_to category_note_path(@category_note), method: :delete do %>
        ðŸ—‘
    <% end %>
</div>
