<div class="main-tlist-ttl">
  <h1 class="tlist-ttl"><%= @category_note.name %></h1>
  <%= link_to "âœï¸", edit_category_note_path(@category_note) %>
  <%= button_to category_note_path(@category_note), method: :delete do %>
        ðŸ—‘
    <% end %>
</div>
<div class="main-note">
  <p><%= @category_note.content %></p>
</div>
