<h1><%= @category_note.name %></h1>
<%= link_to "Edit", edit_category_note_path(@category_note) %>
<%= button_to category_note_path(@category_note), method: :delete do %>
    delete
<% end %>

<p><%= @category_note.content %></p>
