.bbl-container {
  height: 500px;
  width: 80vw;
  margin: 0 auto;
}

.top-display {
  width: 100%;
  height: 25%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  word-break: break-word;
}

.bottom-display {
  width: 100%;
  height: 25%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  word-break: break-word;
}

.main-bbl-container {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-bbl {
  border: 5px solid #797D62;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF8E7;
  word-break: break-word;
  padding: 10px;
  text-align: center;
}

.main-title {
  text-align: center;
}



.bbl {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #FFF8E7;
  z-index: 10;

  &-blue {
    border: 5px solid #A2D3C2;
    padding: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    margin-left: -20px;
  }

  &-pink {
    border: 5px solid #D9AE94;
    padding: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
  }

  &-yellow {
    border: 5px solid #FFCB69;
    padding: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    margin-right: -20px;
  }

  &-red {
    border: 5px solid #E29578;
    padding: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    margin-left: -20px;
  }

  &-aqua {
    border: 5px solid #AED9E0;
    padding: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
  }

  &-purple {
    border: 5px solid #DEC0F1;
    padding: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    margin-right: -20px;
  }

}

.bottom {
  align-self: end;
}

.top-lines {
  width: 210px;
  height: 120px;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  margin-top: 20%;
  position: absolute;
  z-index: -10;
}

.line-tp-lft {
  margin-right: 2.5px;
  width: 100px;
  height: 100%;
  border-bottom: 5px solid #A2D3C2;
  border-left: 5px solid #A2D3C2;
  border-bottom-left-radius: 50%;
}

.line-tp-cent {
  margin-right: 2.5px;
  width: 5px;
  height: 100px;
  background-color: #d9ae94;
}

.line-tp-right {
  width: 100px;
  height: 100%;
  border-bottom-right-radius: 50%;
  border-bottom: 5px solid #FFCB69;
  border-right: 5px solid #FFCB69;
}

.btm-lines {
  width: 200px;
  height: 120px;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  margin-top: -19%;
  position: absolute;
  z-index: -10;
}

.line-btm-lft {
  width: 100px;
  height: 100%;
  border-top: 5px solid #E29578;
  border-left: 5px solid #E29578;
  border-top-left-radius: 50%;
}

.line-btm-cent {
  margin-left: 2.5px;
  width: 5px;
  height: 120px;
  background-color: #AED9E0;
}

.line-btm-right {
  margin-left: 2.5px;
  width: 100px;
  height: 100%;
  border-top-right-radius: 50%;
  border-top: 5px solid #DEC0F1;
  border-right: 5px solid #DEC0F1;
  justify-self: end;
}
