.bbl-container {
  height: 500px;
  width: 345px;
  margin: 0 auto;
  scale: 0.9;
}

.progress-bar {
  width: 345px;
  height: 18px;
  border-radius: 30px;
  margin: 12px auto 40px auto;
  background-color: #dfd8d3;
}

#progression {
  width: 0%;
  background-color: #a2d3c2;
  border-radius: 30px;
  height: 18px;
  transition: 0.4s;
}

.top-display {
  width: 100%;
  height: 25%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  word-break: break-word;
}

.bottom-display {
  width: 100%;
  height: 25%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  word-break: break-word;
}

.main-bbl-container {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-bbl {
  border: 5px solid #797d62;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff8e7;
  word-break: break-word;
  padding: 10px;
  text-align: center;
}

.main-title {
  text-align: center;
  margin: 0;
}

.bbl {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #fff8e7;
  z-index: 10;

  &-blue {
    border: 5px solid #a2d3c2;
    padding: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    margin-left: -20px;
  }

  &-pink {
    border: 5px solid #d9ae94;
    padding: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
  }

  &-yellow {
    border: 5px solid #ffcb69;
    padding: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    margin-right: -20px;
  }

  &-red {
    border: 5px solid #e29578;
    padding: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    margin-left: -20px;
  }

  &-aqua {
    border: 5px solid #aed9e0;
    padding: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
  }

  &-purple {
    border: 5px solid #dec0f1;
    padding: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    margin-right: -20px;
  }
}

.bottom {
  align-self: end;
}

.top-lines {
  width: 255px;
  height: 120px;
  display: flex;
  margin-top: 80px;
  position: absolute;
  z-index: -10;
}

.line-tp-lft {
  margin-right: 2.5px;
  width: 125px;
  height: 100%;
  border-bottom: 5px solid #a2d3c2;
  border-left: 5px solid #a2d3c2;
  border-bottom-left-radius: 50%;
}

.line-tp-cent {
  margin-right: 2.5px;
  width: 5px;
  height: 100px;
  background-color: #d9ae94;
}

.line-tp-right {
  width: 125px;
  height: 100%;
  border-bottom-right-radius: 50%;
  border-bottom: 5px solid #ffcb69;
  border-right: 5px solid #ffcb69;
}

.btm-lines {
  width: 255px;
  height: 120px;
  display: flex;
  margin-top: -90px;
  position: absolute;
  z-index: -10;
}

.line-btm-lft {
  width: 125px;
  height: 100%;
  border-top: 5px solid #e29578;
  border-left: 5px solid #e29578;
  border-top-left-radius: 50%;
}

.line-btm-cent {
  margin-left: 2.5px;
  width: 5px;
  height: 120px;
  background-color: #aed9e0;
}

.line-btm-right {
  margin-left: 2.5px;
  width: 125px;
  height: 100%;
  border-top-right-radius: 50%;
  border-top: 5px solid #dec0f1;
  border-right: 5px solid #dec0f1;
  justify-self: end;
}
