.calendar-item {
  text-decoration: none;
  color: black;
  background-color: rgba(174, 217, 224, 1);
  border: solid .5px rgba(174, 217, 224, 1);
  border-radius: 10px;
  padding: 0 5px;
  margin-bottom: 5px;

  a {
    color:black
    }
 }
