.main-tlist-ttl {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    margin: 0 16px;
    text-decoration: none;
  }
}

.tlist-ttl {
  text-align: center;
  color: #000000;
  margin: 0;
  padding-top: 8px;
}

.list-items {
  width: 100%;
  padding: 0;
  list-style: none;
}

.check {
  border: 1px solid #997b66;
  width: 345px;
  height: 50px;
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 50px;
  margin-bottom: 20px;
  background-color: #fff8e7;
  align-items: center;
  display: flex;
  justify-content: space-between;
  line-height: 0;
}

.check-item {
  appearance: none;
  background-color: #dfd8d3;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-right: 10px;

  &:checked {
    background-color: #a2d3c2;
  }
}

.link {
  width: 96px;
  margin: 0 auto;
  padding-top: 20px;
}

.link a,
.link input {
  border: none;
  text-decoration: none;
  border-radius: 50px;
  background-color: #997b66;
  height: 40px;
  padding: 6px 12px;
  color: #fff;
}

.edit-delete {
  display: flex;
}

.edit-delete a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  margin-left: 20px;
}
.edit a {
  text-decoration: none;
  color: black;
  border: 2px solid #997b66;
  border-radius: 5px;
  background-color: #fff8e7;
  margin-top: 30px;
  width: fit-content;
  height: 40px;
  color: black;
  padding: 5px;
  position: relative;
  margin-top: 100%;
}
.delete button {
  text-decoration: none;
  color: black;
  border: 2px solid #997b66;
  border-radius: 5px;
  background-color: #fff8e7;
  margin-top: 30px;
  width: fit-content;
  height: 40px;
  color: black;
  padding: 5px;
  position: relative;
  margin-top: 100%;
}
