h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #94735b;
}

li{
  list-style-type: none;
  border: 2px solid #997b66;
  width: 330px;
  padding-left: 10px;
  margin-left: -5px;
  border-radius: 50px;
  margin-bottom: 20px;
  background-color: #FFF8E7;
}
