.main-container {
  align-items: center;
}

.form-container {
  width: 350px;
  margin: 0 auto;
  margin-top: 20px;
}

.form-control {
  border: 1px solid #997b66;
  border-radius: 50px;
  background-color: #fff8e7;
}

.add-button input {
  border: 2px solid #997b66;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  background-color: #fff8e7;
  width: fit-content;
}

.add-task-container {
  text-align: center;
}

#task-name {
  text-align: center;
}
.row {
  align-items: center;
  margin-left: 3px;
}
.add-companent input {
  border: 2px solid #997b66;
  border-radius: 50px;
  width: fit-content;
  background-color: #fff8e7;
}

.add-button {
  text-align: center;
}

.mx-1 {
  background-color: #fff8e7;
  margin: 0 auto !important;
  border: 1px solid #997b66;
  border-radius: 50px;
}

.form-label.date.optional {
  margin-left: -280px;
}

.form-label.text.optional {
  margin-left: -280px;
}
