/* Modal style */
.modal-content {
    border-radius: 10px;
    background-color: rgba(239, 238, 230, 1) !important;

    .model-header {
      background-color:rgba(245, 243, 243, 1);
    }

    .modal-body {
      border-radius: 10px !important;
      background-color:rgba(245, 243, 243, 1);
    }
 }

 .simple-calendar {

   th {
     background-color: rgb(255, 248, 231);
    border: .5px solid rgba(153, 123, 102, 0.6);
  }

  td {
    border: .5px solid rgba(153, 123, 102, 0.6) !important;
  }
  .day {

    background-color: rgba(239, 238, 230, 0.6);
  }

  a {
    text-decoration: none;
    color: #E29578

  }

  .calendar-heading {
   display: flex;
   justify-content: space-around;
   text-align: center;
   font-weight: bold;
 }

 /*  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {} */


  /*  .past {}
  .future {}
  .start-date {}
  */
  .prev-month {
    border-top: .5px solid rgba(153, 123, 102, 0.6);
    border-left: .5px solid rgba(153, 123, 102, 0.6);
    background-color:rgba(245, 243, 243, 1);
    border:rgba(245, 243, 243, 1);
  }
  .next-month {
    border-bottom: .5px solid rgba(153, 123, 102, 0.6);
    border-right: .5px solid rgba(153, 123, 102, 0.6);
    background-color:rgba(245, 243, 243, 1);
    border:rgba(245, 243, 243, 1);
  }
  .current-month {
    background-color: rgb(255, 248, 231);
  }
  .today {
    background-color: rgba(162, 211, 194, 0.793);
  }

  /* .has-events {} */
}
