.main-note {
  width: 345px;
  border: 1px solid #997B66;
  border-radius: 10px;
  background-color: #FFF8E7;
  word-break: break-word;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  padding-top: 10px;
  display: inline-block;
  height: 100%;
  margin-left: 15px;

}
.main-note p {
  margin: 0 auto;
  height: fit-content;
  word-break: break-word;
  margin-bottom: 10px;
}

.edit {
  text-align: right;
  position: relative;
}

// .delete button{
//   text-align: right;
//   position: relative;
//   margin-top: -10px;
// }

h1 {
  text-align: center;
}

#task_note_content{
  height: 200px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  border-radius: 20px;
}

#category_note_content {
  height: 200px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  border-radius: 20px;
}
