<div class="main-container">
  <div class="form-container">
    <%# model = child.new_record? ? [parent, child] : [child] %>
    <%= simple_form_for model, html: { autocomplete: "off" } do |f| %>
    <h5><%= f.input :title %></h5>
    <div class="add-task-container">
      <% model[1].errors.full_messages_for(:title) %>
      <%= f.input :end_date, as: :date, html5: true  %>
    </div>
    <div class="link-container">
      <div class="link">
        <%= f.submit "Save" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
