<div class="main-container">
  <div class="form-container">
    <%= simple_form_for [@task, @task_checklist] do |f| %>
    <h5><%= f.input :name %></h5>
    <div class="add-task-container">
      <%= f.input :end_date, as: :date, html5: true %>
      <div class="add-button">
        <%= f.submit "Add Checklist" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
