<ul>
  <% @categories.each do |category| %>
    <%= link_to category.name, category_path(category) %>
  <% end %>
</ul>

<div class="bbl-container">
  <div class="top-display">
    <%= link_to @categories[0], class:"bottom", style:"text-decoration: none;" do %>
      <div class="bbl bbl-blue"><%= @categories[0].name %></div>
    <% end %>
    <div class="bbl"></div>
    <div class="bbl bottom"></div>
  </div>

  <div class="main-bbl-container">
    <div class="main-bbl"></div>
    <div class="line-bbl-top"></div>
  </div>

  <div class="bottom-display">
    <div class="bbl"></div>
    <div class="bbl bottom"></div>
    <div class="bbl"></div>
  </div>

</div>
