<div class="main-container">
  <div class="form-container">
    <%= simple_form_for  [@category_checklist, @category_checklist_item] do |f| %>
    <h5><%= f.input :description %></h5>
    <div class="add-button">
       <%= f.submit "Edit" %>
    </div>
    <% end %>
  </div>
</div>
